{% extends 'Base/base.html' %}

{% block content %}
<div class="container">
    <h3>Crear Boleta</h3>
    <br>
    <form method="POST">
            {% csrf_token %} 
            <div class="row">
                
            <div class="col-6">
                <div class="mb-3">
                    <label for="fecha_boleta">Fecha</label>
                    {{ formBoleta.fecha_boleta }}
                </div>
                <div class="mb-3">
                    <label for="cantidad_boleta">Cantidad</label>
                    {{ formBoleta.cantidad_boleta }}  
                </div>
                <div class="mb-3">
                    <label for="subtotal_boleta">Total</label>
                    {{ formBoleta.subtotal_boleta }}  
                </div>
                <button type="submit" class="btn btn-success">GRABAR</button> 
            </div> 

            </div>
    </form>
</div>
{% endblock %}