{% extends 'Base/base.html' %}

{% block content %}
<div class="container">
    <h3>Editar Servicios ofrecidos</h3>
    <br>
   <form method="POST">
            {% csrf_token %} 
            {{ formServicio.id }} 
            

            <div class="row">
               
            <div class="col-6">

                <div class="mb-3">
                    <label for="nombre">Nombre del servicio</label>
                    {{ formServicio.nombre}}
                </div>

                <div class="mb-3">
                    <label for="precio">Precio</label>
                    {{ formServicio.precio }}  
                </div>

                <div class="mb-3">
                    <label for="tiempo_ejecucion">Tiempo estimado del servicio</label>
                    {{ formServicio.tiempo_ejecucion }}  
                </div>

                <div class="mb-3">
                    <label for="estado">Estado del servicio</label>
                    {{ formServicio.estado }}  
                </div>
                
                <div class="mb-3">
                    <label for="descuento">Descuento del servicio vigente</label>
                    {{ formServicio.descuento }}  
                </div>
                              
                <button type="submit" class="btn btn-success">GRABAR</button> 
            </div> 
                </div>
           </div>
            </div>
            </div>
    </form>
</div>
{% endblock %}
